<!-- Toast -->
@if (success) {
<div
  class="p-4 text-center text-sm text-green-800 bg-green-50 dark:bg-gray-800 dark:text-green-400"
  role="alert"
>
  <span class="font-medium">Finança adicionada com sucesso!</span> Em alguns
  segundos a tabela será atualizada.
</div>
} @if (erro) {
<div
  class="p-4 text-center text-sm text-red-800 bg-red-50 dark:bg-gray-800 dark:text-red-400"
  role="alert"
>
  <span class="font-medium">Erro no formulário!</span>
</div>
}

<!-- Formulario -->
<div class="bg-white mx-auto dark:bg-gray-900">
  <form class="max-w-md mx-auto py-5" (ngSubmit)="criarFinancas()">
    <div class="relative z-0 w-full mb-5 group">
      <div class="mb-5">
        <label
          for="nome"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Nome</label
        >
        <input
          type="text"
          name="nome"
          id="nome"
          placeholder="Nome da Finança"
          required
          [(ngModel)]="newFinancas.nome"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
    </div>
    <div class="relative z-0 w-full mb-5 group">
      <div class="mb-5">
        <label
          for="entradas"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Entradas</label
        >
        <input
          type="text"
          name="entradas"
          id="entradas"
          placeholder="Entrada"
          required
          mask="separator.2"
          [(ngModel)]="newFinancas.entradas"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
    </div>
    <div class="relative z-0 w-full mb-5 group">
      <div class="mb-5">
        <label
          for="saidas"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Saidas</label
        >
        <input
          type="text"
          name="saidas"
          id="saidas"
          mask="separator.2"
          placeholder="Saída"
          required
          [(ngModel)]="newFinancas.saidas"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
    </div>

    <div class="flex space-x-4 mt-4">
      <button
        type="submit"
        class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
      >
        Criar Finanças
      </button>
      <button
        routerLink="/tables"
        type="button"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        <strong>Lista de Finanças</strong>
      </button>
    </div>
  </form>

  <div class="justify-center text-center mt-5">
    <blockquote
      class="text-xl italic font-semibold text-gray-900 dark:text-white"
    >
      <p>
        "O verdadeiro poder das finanças está na capacidade de transformar
        sonhos em realidade."
      </p>
    </blockquote>
    <figcaption
      class="flex items-center justify-center mt-6 space-x-3 rtl:space-x-reverse"
    >
      <img
        class="w-6 h-6 rounded-full"
        src="https://i.imgur.com/thWBSJX.jpg"
        alt="profile picture"
      />
      <div
        class="flex items-center divide-x-2 rtl:divide-x-reverse divide-gray-500 dark:divide-gray-700"
      >
        <cite class="pe-3 font-medium text-gray-900 dark:text-white"
          >Robson Ferreira</cite
        >
        <cite class="ps-3 text-sm text-gray-500 dark:text-gray-400"
          >CEO na Fox Hound</cite
        >
      </div>
    </figcaption>
  </div>
</div>
